<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>78543721179-ma31vg5j8u0noidf5rmv9hk4v6dfl6m1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.78543721179-ma31vg5j8u0noidf5rmv9hk4v6dfl6m1</string>
	<key>API_KEY</key>
	<string>AIzaSyCCAn5Gesj7eKH17Pjw6Ed9cZ6aXc-R7G0</string>
	<key>GCM_SENDER_ID</key>
	<string>78543721179</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterTiendaComida</string>
	<key>PROJECT_ID</key>
	<string>appdelivery-370904</string>
	<key>STORAGE_BUCKET</key>
	<string>appdelivery-370904.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78543721179:ios:3668b73e021ff6478c32fe</string>
</dict>
</plist>